.reportpage {
    font-family: Lato, "Gill Sans MT", sans-serif;
    position: relative;
    width: 540pt;
    height: 720pt;
    background-color: #ffffff;
}

.reporttitle {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 48pt;
    font-weight: 300;
    color: #323232;
}

.reportsubtitle {
    position: absolute;
    top: 48pt;
    left: 0;
    font-size: 18pt;
    font-weight: 300;
    color: #646464;
}

.shadow {
    /* box-shadow: 0 2pt 3pt 0 rgba(0,0,0,0.25); */
    border: 1pt solid #CDCDCD;
    border-bottom-width: 3pt;
}

.w1 {left: 0}
.w2 {left: 183pt}
.w3 {left: 366pt}
.h1 {top: 73pt}
.h2 {top: 275pt}
.h3 {top: 478pt}

.card {
    position: absolute;
    width: 175pt;
    height: 195pt;
    background-color: #ffffff;
}

.card-inside {
    position: relative;
    width: 100%;
    height: 100%;
}

.mvp {
    position: absolute;
    top: 3pt;
    left: 5pt;
    color: #646464;
    font-size: 10pt;
    font-weight: bold;
}

.nomvp {
    display: none;
}

.mvp .fa-trophy {
    color: #9b8100;
}

.bg-success .chart-bg {background-color: #C3E3B7}
.bg-warning .chart-bg {background-color: #E3D6B7}
.bg-danger .chart-bg {background-color: #E3B7B7}

.chart-bg {
    position: absolute;
    width: 100%;
    height: 117pt;
    left: 0;
    top: 17pt;
}

.bg-progress {
    position: relative;
    height: 100%;
}

.bg-success .bg-progress {background-color: #9FEE72}
.bg-warning .bg-progress {background-color: #EEE372}
.bg-danger .bg-progress {background-color: #EE7372}

.bg-success .card-chart {color: #224b22}
.bg-warning .card-chart {color: #4b4025}
.bg-danger .card-chart {color: #4b1a1a}

.card-score {
    position: absolute;
    width: 100%;
    left: 5pt;
    top: 20pt;
    font-weight: bold;
    font-size: 48pt;
}

.card-unit {
    position: absolute;
    width: 100%;
    left: 5pt;
    top: 71pt;
    font-size: 18pt;
    font-weight: 300;
}

.card-score-subtext {
    position: absolute;
    width: 100%;
    left: 5pt;
    top: 100pt;
    font-size: 14pt;
    font-weight: normal;
}

.card-title {
    position: absolute;
    left: 5pt;
    top: 138pt;
    font-weight: 300;
    font-size: 18pt;
    color: #646464;
}

.card-subtitle {
    position: absolute;
    left: 5pt;
    top: 157pt;
    font-weight: 300;
    font-size: 14pt;
    color: #646464;
}

.card-text {
    position: absolute;
    left: 5pt;
    top: 176pt;
    font-weight: normal;
    font-size: 10pt;
    color: #646464;
}

.footer-img {
    position: absolute;
    left: 0;
    top: 684pt;
    width: 80.5pt;
    height: 36pt;
}

.footer-text {
    position: absolute;
    left: 96pt;
    top: 690pt;
    font-weight: bold;
    font-size: 18pt;
    color: #646464;
}

.footer-dates {
    position: absolute;
    left: 425pt;
    top: 685pt;
    width: 115pt;
    text-align: right;
    font-weight: normal;
    font-size: 12pt;
    color: #646464;
}

@media print {
    .printbutton {
        display: none;
    }

    .reportpage {
        page-break-after: always;
    }
}